In [ ]:
!pip install Gitpython

Collecting Gitpython
  Downloading GitPython-3.1.32-py3-none-any.whl (188 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 188.5/188.5 kB 3.9 MB/s eta 0:00:00
Collecting gitdb<5,>=4.0.1 (from Gitpython)
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 5.7 MB/s eta 0:00:00
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->Gitpython)
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Installing collected packages: smmap, gitdb, Gitpython
Successfully installed Gitpython-3.1.32 gitdb-4.0.10 smmap-5.0.0

In [ ]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 8891, done.
remote: Counting objects: 100% (8891/8891), done.
remote: Compressing objects: 100% (7400/7400), done.
remote: Total 8891 (delta 2789), reused 7257 (delta 1170), pack-reused 0
Receiving objects: 100% (8891/8891), 2.30 MiB | 12.80 MiB/s, done.
Resolving deltas: 100% (2789/2789), done.

In [ ]:
import git
import pandas as pd
import os
import json

In [ ]:
os.system("git clone https://github.com/phonepe/pulse.git")

32768

In [ ]:
root_dir = (r'/content/pulse/data')

**Aggregated Transaction**

In [ ]:
data1_list=[]
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state')):
      state_path = os.path.join(root_dir, '/content/pulse/data/aggregated/transaction/country/india/state', state_dir)
      if os.path.isdir(state_path):
                for year_dir in os.listdir(state_path):
                  year_path = os.path.join(state_path, year_dir)
                  if os.path.isdir(year_path):
                    for json_file in os.listdir(year_path):
                        if json_file.endswith('.json'):
                          with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for transaction_data in data['data']['transactionData']:
                                row_dict = {
                                    'States\\Union_Territory': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'Transaction_Type': transaction_data['name'],
                                    'Transaction_Count': transaction_data['paymentInstruments'][0]['count'],
                                    'Transaction_Amount': transaction_data['paymentInstruments'][0]['amount']
                                }
                                data1_list.append(row_dict)

# Convert list of dictionaries to dataframe
df1 = pd.DataFrame(data1_list)
df1

,States\Union_Territory,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,manipur,2018,3,Peer-to-peer payments,95204,3.577688e+08
1,manipur,2018,3,Recharge & bill payments,81323,1.391299e+07
2,manipur,2018,3,Merchant payments,7396,9.180954e+06
3,manipur,2018,3,Financial Services,2577,3.330816e+05
4,manipur,2018,3,Others,2758,2.135469e+06
...,...,...,...,...,...,...
3949,tripura,2021,4,Peer-to-peer payments,1060915,4.368787e+09
3950,tripura,2021,4,Merchant payments,793636,8.740054e+08
3951,tripura,2021,4,Recharge & bill payments,650251,2.412253e+08
3952,tripura,2021,4,Financial Services,3635,5.073899e+06
3953,tripura,2021,4,Others,12256,7.838129e+06

**Aggregated user**

In [ ]:
data2_list = []
data3_list=[]

for state_dir in os.listdir(os.path.join(root_dir,'/content/pulse/data/aggregated/user/country/india/state')):
  state_path = os.path.join(root_dir,'/content/pulse/data/aggregated/user/country/india/state', state_dir)
  if os.path.isdir(state_path):
    for year_dir in os.listdir(state_path):
      year_path = os.path.join(state_path, year_dir)
      if os.path.isdir(year_path):
        for json_file in os.listdir(year_path):
          if json_file.endswith('.json'):
            with open(os.path.join(year_path, json_file)) as f:
              data = pd.read_json(f)

              #Extracting the data we are interested in

              row=dict(States = state_dir,
                  Transaction_Year=year_dir,
                  Quarters= int(json_file.split('.')[0]),
                  RegisteredUsers=data['data']['aggregated']['registeredUsers'],
                  AppOpens=data['data']['aggregated']['appOpens'])

              temp=data['data']['usersByDevice']
              if temp:
                for i in temp:
                  DAU_row={'States':state_dir, 'Brand_Name':i['brand'], 'Registered_Users_Count':i['count'], 'Percentage_Share_of_Brand':i['percentage']}

              data2_list.append(row)
              data3_list.append(DAU_row)
df_user=pd.DataFrame(data2_list)
df_users=pd.DataFrame(data3_list)

df2=pd.merge(df_user,df_users,on='States')
df2

,States,Transaction_Year,Quarters,RegisteredUsers,AppOpens,Brand_Name,Registered_Users_Count,Percentage_Share_of_Brand
0,manipur,2018,3,61935,0,Others,6346,0.102462
1,manipur,2018,3,61935,0,Others,5058,0.109825
2,manipur,2018,3,61935,0,Others,3627,0.121203
3,manipur,2018,3,61935,0,Others,7644,0.092555
4,manipur,2018,3,61935,0,Others,7644,0.092555
...,...,...,...,...,...,...,...,...
17419,tripura,2021,4,546292,10728702,Others,29682,0.109006
17420,tripura,2021,4,546292,10728702,Others,47581,0.093309
17421,tripura,2021,4,546292,10728702,Others,44429,0.094099
17422,tripura,2021,4,546292,10728702,Others,41355,0.094066
17423,tripura,2021,4,546292,10728702,Others,51110,0.093558

**Data Map Transaction**

In [ ]:
root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data1_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/map/transaction/hover/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/map/transaction/hover/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for hoverDataList in data['data']['hoverDataList']:
                                row_dict = {
                                    'States\\Union_Territory': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'District': hoverDataList['name'],
                                    'Transaction_Type': hoverDataList['metric'][0]['type'],
                                    'Transaction_Count': hoverDataList['metric'][0]['amount']
                                }
                                data1_list.append(row_dict)

# Convert list of dictionaries to dataframe
df3 = pd.DataFrame(data1_list)

df3

,States\Union_Territory,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count
0,manipur,2018,3,kangpokpi district,TOTAL,2.793740e+07
1,manipur,2018,3,noney district,TOTAL,3.959454e+06
2,manipur,2018,3,imphal east district,TOTAL,8.960572e+07
3,manipur,2018,3,thoubal district,TOTAL,3.409275e+07
4,manipur,2018,3,kakching district,TOTAL,9.968419e+06
...,...,...,...,...,...,...
16095,tripura,2021,4,north tripura district,TOTAL,5.900889e+08
16096,tripura,2021,4,dhalai district,TOTAL,4.480391e+08
16097,tripura,2021,4,south tripura district,TOTAL,5.607352e+08
16098,tripura,2021,4,gomati district,TOTAL,4.544928e+08
16099,tripura,2021,4,west tripura district,TOTAL,2.328859e+09

**Data Map User**

In [ ]:
root_dir = '/content/pulse/data/map/user/hover/country/india/state'

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []
1
# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for district, values in data['data']['hoverData'].items():
                                row_dict = {
                                    'States\\Union_Territory': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarter': int(json_file.split('.')[0]),
                                    'District': district,
                                    'RegisteredUsers': values['registeredUsers'],
                                    'app_Opens':values["appOpens"]
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df4 = pd.DataFrame(data_list)

df4

,States\Union_Territory,Transaction_Year,Quarter,District,RegisteredUsers,app_Opens
0,manipur,2018,3,kangpokpi district,3073,0
1,manipur,2018,3,noney district,504,0
2,manipur,2018,3,imphal east district,13541,0
3,manipur,2018,3,thoubal district,6112,0
4,manipur,2018,3,kakching district,2326,0
...,...,...,...,...,...,...
16099,tripura,2021,4,north tripura district,55009,1244208
16100,tripura,2021,4,dhalai district,43705,934219
16101,tripura,2021,4,south tripura district,58777,1049428
16102,tripura,2021,4,gomati district,49981,947324
16103,tripura,2021,4,west tripura district,215860,4308123

**Top Transaction**

In [ ]:
root_dir = (r'/content/pulse/data')

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state')):
    state_path = os.path.join(root_dir, '/content/pulse/data/top/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for districts in data['data']['districts']:
                                row_dict = {
                                    'States\\Union_Territory': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'District': districts['entityName'],
                                    'Transaction_Type': districts['metric']['type'],
                                    'Transaction_Count': districts['metric']['count'],
                                    'Transaction_Amount': districts['metric']['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df5 = pd.DataFrame(data_list)

df5

,States\Union_Territory,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count,Transaction_Amount
0,manipur,2018,3,imphal east,TOTAL,60511,8.960572e+07
1,manipur,2018,3,imphal west,TOTAL,53577,1.210337e+08
2,manipur,2018,3,thoubal,TOTAL,19399,3.409275e+07
3,manipur,2018,3,bishnupur,TOTAL,13649,2.436824e+07
4,manipur,2018,3,kangpokpi,TOTAL,9151,2.793740e+07
...,...,...,...,...,...,...,...
6507,tripura,2021,4,south tripura,TOTAL,219422,5.607352e+08
6508,tripura,2021,4,gomati,TOTAL,200196,4.544928e+08
6509,tripura,2021,4,dhalai,TOTAL,194907,4.480391e+08
6510,tripura,2021,4,unakoti,TOTAL,130201,2.894849e+08
6511,tripura,2021,4,khowai,TOTAL,111589,2.548082e+08

**Top User**

In [ ]:
root_dir = '/content/pulse/data/top/user/country/india/state'

# Initialize empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for district in data['data']['districts']:
                                row_dict = {
                                    'States\\Union_Territory': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'District': district['name'] if 'name' in district else district['pincode'],
                                    'RegisteredUsers': district['registeredUsers'],
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to dataframe
df6 = pd.DataFrame(data_list)
df6

,States\Union_Territory,Transaction_Year,Quarters,District,RegisteredUsers
0,manipur,2018,3,imphal west,21696
1,manipur,2018,3,imphal east,13541
2,manipur,2018,3,thoubal,6112
3,manipur,2018,3,bishnupur,5106
4,manipur,2018,3,churachandpur,3420
...,...,...,...,...,...
6507,tripura,2021,4,north tripura,55009
6508,tripura,2021,4,gomati,49981
6509,tripura,2021,4,dhalai,43705
6510,tripura,2021,4,khowai,34253
6511,tripura,2021,4,unakoti,29889

**Preprocessing data**

In [ ]:
df1.isnull().sum()

States\Union_Territory    0
Transaction_Year          0
Quarters                  0
Transaction_Type          0
Transaction_Count         0
Transaction_Amount        0
dtype: int64

In [ ]:
df2.isnull().sum()

States                       0
Transaction_Year             0
Quarters                     0
RegisteredUsers              0
AppOpens                     0
Brand_Name                   0
Registered_Users_Count       0
Percentage_Share_of_Brand    0
dtype: int64

In [ ]:
df3.isnull().sum()

States\Union_Territory    0
Transaction_Year          0
Quarters                  0
District                  0
Transaction_Type          0
Transaction_Count         0
dtype: int64

In [ ]:
df4.isnull().sum()

States\Union_Territory    0
Transaction_Year          0
Quarter                   0
District                  0
RegisteredUsers           0
app_Opens                 0
dtype: int64

In [ ]:
df5.isnull().sum()

States\Union_Territory    0
Transaction_Year          0
Quarters                  0
District                  0
Transaction_Type          0
Transaction_Count         0
Transaction_Amount        0
dtype: int64

In [ ]:
df6.isnull().sum()

States\Union_Territory    0
Transaction_Year          0
Quarters                  0
District                  0
RegisteredUsers           0
dtype: int64

***Converting data to csv file***

In [ ]:
a=df1.to_csv("agg_trans.csv",index=False)
b=df2.to_csv("agg_users.csv",index=False)
c=df3.to_csv("map_trans.csv",index=False)
d=df4.to_csv("map_users.csv",index=False)
e=df5.to_csv("top_tans.csv",index=False)
f=df6.to_csv("top_users.csv",index=False)